extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
    include ../static/style.css
    include ../static/styleabout.css

block content
  main
    section#about-academy
      h1 Welcome to Himanshu Dance Academy
      p
        | Himanshu Dance Academy has been an integral part of the dance community since its inception in 1995.
        | With a rich legacy of over two decades, we have been inspiring dancers to express themselves through the art of dance.
       

      p
        | Our academy's mission is to foster a love for dance, nurturing talent and providing a supportive environment for all our students.
        | We offer a diverse range of dance styles, led by experienced instructors who are passionate about their craft.
       

      p
        | Whether you're a beginner or an experienced dancer, we have classes tailored to suit your level of expertise.
        | Our curriculum is designed to not only teach dance techniques but also to build confidence, discipline, and creativity.

    section#legacy
      h2 Our Legacy
      p
        | Himanshu Dance Academy was founded by the renowned dancer and choreographer, Himanshu.
        | His vision was to create a platform where dance enthusiasts could learn, grow, and showcase their talent.
        | Over the years, the academy has produced many accomplished dancers who have gone on to make their mark in the dance industry.
        

      p
        | Our legacy is not just about producing exceptional dancers, but also about instilling a deep appreciation for the art of dance in our students.
