doctype html
html
  head
    title Himanshu Dance Academy
    block scripts
    block style
  body
    nav#navbar
       ul
            div#logo
                img(src="/static/img/logo2.jpg")
                | HDA
            li #[a(href="/home") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/classinfo") Class info]
            li #[a(href="/contact") Contact us]    
    block content
    footer#footer
      | CopyRight © 2023 | All Rights Reserved
