extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
    include ../static/style.css
    include ../static/styleservices.css

block content
  main
    section#services
      h1 Our Dance Services
      p
        | At Himanshu Dance Academy, we offer a wide range of dance services to cater to dancers of all ages and skill levels.
        | Whether you are a beginner looking to explore the world of dance or an experienced dancer aiming to perfect your craft, we have something for everyone.

      h2 Dance Classes
      p
        | Our dance classes are designed to provide comprehensive training in various dance styles, including Classical, Contemporary, Hip-Hop, and Bollywood.
        | Led by our team of experienced instructors, each class focuses on developing technical skills, artistic expression, and stage presence.

      h3 Class Schedule
      p
        | We offer flexible class schedules to accommodate the needs of our students.
        | Classes are available on weekdays and weekends, with morning and evening options.

      h2 Private Lessons
      p
        | For those seeking personalized attention and accelerated learning, we provide one-on-one private dance lessons.
        | Our expert instructors will tailor the lessons to your specific goals and skill level.

      h3 Pricing Models
      ul
        li
          strong Pay-Per-Class:
          | Attend individual classes as per your convenience. Perfect for those with unpredictable schedules or occasional learners.
        li
          strong Monthly Membership:
          | Enjoy unlimited access to all classes for a fixed monthly fee. Ideal for regular students looking for a cost-effective option.
        li
          strong Semi-Annual and Annual Plans:
          | Avail discounted rates on dance classes by opting for our semi-annual or annual plans. Get long-term commitment benefits.

      h3 Specialized Workshops
      p
        | In addition to regular classes, we conduct specialized workshops and masterclasses led by renowned guest instructors and choreographers.
        | These workshops focus on specific dance techniques, performance skills, and industry insights.

      h2 Performance Opportunities
      p
        | We believe that performing is an essential aspect of dance education. Hence, we organize regular showcases and recitals where our students can showcase their talent and progress.

      h3 Competitive Dance Teams
      p
        | For aspiring competitive dancers, we offer the opportunity to join our dance teams. Represent the academy in various dance competitions and events.

      h3 Corporate Events and Performances
      p
        | We also cater to corporate events and functions by providing engaging dance performances and entertainment packages.

